# ====================
# Java / Spring Boot / Maven
# ====================
*.class
*.jar
*.war
*.ear
target/
!.mvn/wrapper/maven-wrapper.jar
spring.log
application-*.properties
!application.properties

# ====================
# Node.js / React / TypeScript
# ====================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
coverage/
.vite/
*.tsbuildinfo

# ====================
# Docker / Infrastructure
# ====================

# Docker
.dockerignore
Dockerfile*.tmp
docker-compose.override.yml
docker-compose.local.yml

# Database data
/infrastructure/database/postgres-data/
/postgres-data/
#*.sql
*.sqlite
*.db
dump.rdb

# ====================
# Python Documentation Tools
# ====================
__pycache__/
*.py[cod]
*.pyc
.venv/
venv/
*.egg-info/

# ====================
# Environment & Security
# ====================
.env*
.env.dev
!.env.example
*.key
*.pem
secrets.json
application-secrets.properties

# ====================
# IDE / Editors
# ====================
.idea/
*.iml
.vscode/
*.swp
*.swo
.github/
# ====================
# OS Files
# ====================
.DS_Store
Thumbs.db
Desktop.ini

# ====================
# Logs & Temporary Files
# ====================
*.log
logs/
*.tmp
*.bak
.cache/

# ====================
# Project Specific
# ====================
docs/
!docs/output/.gitkeep
infrastructure/database/postgres-data/


frontend-app/
